html {
    cursor: url(cursor.png), pointer;
}

.index {
    background: black;
    background-image: url('newcharlielogo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.castle {
    background: black;
    background-size: cover;
}

.enter {
    text-align: center;
    font-size: 500%;
    position: relative;
    margin-top: 30%;
    cursor: url(cursor.png), pointer;
}

a {
    text-decoration: none;
    cursor: url(cursor.png), pointer;
}

a:visited {
    color: white;
    cursor: url(cursor.png), pointer;
  }