.index {
    background: black;
    background-image: url('newcharlielogo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.castle {
    background-image: url('castleimage.png');
    background-size: cover;
}

.enter {
    text-align: center;
    font-size: 500%;
    position: relative;
    margin-top: 30%;
}

a {
    text-decoration: none;
}

a:visited {
    color: white;
  }